<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <style>

    </style>
</head>
<body>
<table>
<tr th:each="category : ${categoryListS}">
　　<td th:text="${category.CategoryName}"></td>
</tr>

</table>

<script>
    $(function () {
 }

</script>
</body>
</html>