<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/vue/vue.min.js}"></script>
    <script th:src="@{/vue/vue-resource.min.js}"></script>
    <title>ewg类目选择</title>
    <style>
        .url_item{cursor:pointer}
    </style>
</head>
<body>
        <h2 style="padding-left: 20px">选择以下要爬取的类目</h2>
    <!--/*@thymesVar id="jobs" type=""*/-->
        <ul th:each="job :${jobs}" id="ewg">
            <!--/*@thymesVar id="name" type=""*/-->
            <li th:text="${job.name}"></li>
            <ul th:each="classify:${job.classifies}">
                <li th:text="${classify.type}"></li>
                <ul th:each="url:${classify.urls}">
                    <a th:text="${url.name}" th:attr="productUrl=${url.url}" v-on:click="scrapy()" class="url_item"></a>
                </ul>
            </ul>
        </ul>

    <script>
        var vm = new Vue({
            el:"#ewg",
            methods: {
                scrapy: function () {
                    var url = event.target.getAttribute('productUrl')

                    this.$http.post("/ewgProduct",{url:url},{emulateJSON:true}).then(
                        function (res) {
                            console.log(res.bodyText)
                        },function (res) {
                            // 处理失败的结果
                        }
                    );
                }
            }
        });
    </script>
</body>
</html>