<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="jobs" type="org.json.JSONObject"*/-->
    <div th:each="job: ${jobs}" class="list-unstyled">
        <ul th:each="aa :${job}">
            <li th:text="${aa}"></li>
        </ul>
    </div>

</body>
</html>