<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>红宝石爬虫</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
    <div style="padding:20px;">
        <h1><a th:href="gcft">药监局</a></h1>
        <h1><a th:href="ewg">EWG</a></h1>
        <h1><a th:href="BeautyPedia">BeautyPedia</a></h1>
        <h1><a th:href="amazon">Amazon</a></h1>
    </div>
</body>
</html>